<head>

</head>

<body>
<style>
@use "@material";
body {
  font-family: roboto;
  margin: 2em;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.mdc-button.mdc-button--raised.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.videoView p {
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}

</style>
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<!-- 
<h1>Multiple object detection using the MediaPipe Object Detector task</h1>

<section id="demos" class="invisible">
  <h2>Demo: Detecting Images</h2>
  <p><b>Click on an image below</b> to detect objects in the image.</p>

  <div class="detectOnClick">
    <img src="https://assets.codepen.io/9177687/coupledog.jpeg" width="100%" crossorigin="anonymous" title="Click to get classification!" />
  </div>
  <div class="detectOnClick">
    <img src="https://assets.codepen.io/9177687/doggo.jpeg" width="100%" crossorigin="anonymous" title="Click to get classification!" />
  </div>

  <h2>Demo: Webcam continuous detection</h2>
  <p>Hold some objects up close to your webcam to get a real-time detection! When ready click "enable webcam" below and accept access to the webcam.</p>
  <div>This demo uses a model trained on the COCO dataset. It can identify 80 different classes of object in an image. <a href="https://github.com/amikelive/coco-labels/blob/master/coco-labels-2014_2017.txt" target="_blank">See a list of available classes</a></div> -->
  <div id="liveView" class="videoView">
    <button id="webcamButton" class="mdc-button mdc-button--raised">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">ENABLE WEBCAM</span>
    </button>
    <video id="webcam" autoplay playsinline></video>
  </div>
</section>  

<input type="file" id="videoInput" accept="video/*" />



<!-- Sliders for controlling detection parameters -->
<div>
  <label for="maxObjects">Max Objects per Frame:</label>
  <input type="range" id="maxObjects" min="1" max="20" value="10" />
  <span id="maxObjectsValue">10</span>
</div>

<div>
  <label for="confidenceThreshold">Confidence Threshold (%):</label>
  <input type="range" id="confidenceThreshold" min="0" max="100" value="30" />
  <span id="confidenceThresholdValue">30</span>
</div>




<script type="module">
   
import {
  ObjectDetector,
  FilesetResolver
} from "https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.2"

const demosSection = document.getElementById("demos")

let objectDetector
let runningMode = "IMAGE"

// Initialize the object detector
const initializeObjectDetector = async () => {
  const vision = await FilesetResolver.forVisionTasks(
    "https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.2/wasm"
  )
  objectDetector = await ObjectDetector.createFromOptions(vision, {
    baseOptions: {
      modelAssetPath: `https://storage.googleapis.com/mediapipe-models/object_detector/efficientdet_lite0/float16/1/efficientdet_lite0.tflite`,
      delegate: "GPU"
    },
    scoreThreshold: confidenceThreshold,
    runningMode: runningMode,
    maxResults: maxObjects
  })
//   demosSection.classList.remove("invisible")
}
initializeObjectDetector()

 let video = document.getElementById("webcam");
const liveView = document.getElementById("liveView");
let enableWebcamButton;
let videoInput = document.getElementById("videoInput");

// Slider elements
let maxObjectsSlider = document.getElementById("maxObjects");
let confidenceThresholdSlider = document.getElementById("confidenceThreshold");

// Slider value display elements
let maxObjectsValue = document.getElementById("maxObjectsValue");
let confidenceThresholdValue = document.getElementById("confidenceThresholdValue");

// Default values
let maxObjects = parseInt(maxObjectsSlider.value);
let confidenceThreshold = parseFloat(confidenceThresholdSlider.value) / 100;

// Update slider values in real-time
maxObjectsSlider.addEventListener("input", () => {
  maxObjects = parseInt(maxObjectsSlider.value);
  maxObjectsValue.textContent = maxObjects;
});

confidenceThresholdSlider.addEventListener("input", () => {
  confidenceThreshold = parseFloat(confidenceThresholdSlider.value) / 100;
  confidenceThresholdValue.textContent = confidenceThresholdSlider.value;
});

// Check if webcam access is supported.
function hasGetUserMedia() {
  return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
}

// Keep a reference of all the child elements we create
// so we can remove them easily on each render.
var children = [];

// If webcam supported, add event listener to button for when user
// wants to activate it.
if (hasGetUserMedia()) {
  enableWebcamButton = document.getElementById("webcamButton");
  enableWebcamButton.addEventListener("click", enableCam);
} else {
  console.warn("getUserMedia() is not supported by your browser");
}

// Add event listener for video file input
videoInput.addEventListener("change", function (event) {
  const file = event.target.files[0];
  if (file) {
    const fileURL = URL.createObjectURL(file);
    video.src = fileURL;
    video.addEventListener("loadeddata", predictWebcam);
  }
});

// Enable the live webcam view and start detection.

let camEnum  = ["environment","user"] //TODO maybe allow user to flip cam.
async function enableCam(event) {
  if (!objectDetector) {
    console.log("Wait! objectDetector not loaded yet.");
    return;
  }

  // Hide the button.
  enableWebcamButton.classList.add("removed");

  
  const constraints = {
    video: {
        facingMode: {
          exact: "environment",
        },
    }
  };

  // Activate the webcam stream.
  navigator.mediaDevices
    .getUserMedia(constraints)
    .then(function (stream) {
        
      video.srcObject = stream;
      video.addEventListener("loadeddata", predictWebcam);
    })
    .catch((err) => {
      console.error(err);
      /* handle the error */
    });

    camOrder += 1;
}

let lastVideoTime = -1;
async function predictWebcam() {
  // if image mode is initialized, create a new classifier with video runningMode.
  if (runningMode === "IMAGE") {
    runningMode = "VIDEO";
    
    await objectDetector.setOptions({ runningMode: "VIDEO", maxResults: maxObjects, scoreThreshold: confidenceThreshold});
  }
  let startTimeMs = performance.now();

  // Detect objects using detectForVideo.
  if (video.currentTime !== lastVideoTime) {
    lastVideoTime = video.currentTime;
    const detections = objectDetector.detectForVideo(video, startTimeMs);

    // Filter detections based on confidence threshold and max objects
    const filteredDetections = detections.detections
    //   .filter((detection) => detection.categories[0].score >= confidenceThreshold)
    //   .slice(0, maxObjects);

    displayVideoDetections({ detections: filteredDetections });
  }
  // Call this function again to keep predicting when the browser is ready.
  window.requestAnimationFrame(predictWebcam);
}

function displayVideoDetections(result) {
  // Remove any highlighting from previous frame.
  for (let child of children) {
    liveView.removeChild(child);
  }
  children.splice(0);
  

  // Iterate through predictions and draw them to the live view
  for (let detection of result.detections) {
    const p = document.createElement("p");
    p.innerText =
      detection.categories[0].categoryName +
      " - with " +
      Math.round(parseFloat(detection.categories[0].score) * 100) +
      "% confidence.";
    p.style =
      "left: " +
      (video.offsetWidth -
        detection.boundingBox.width -
        detection.boundingBox.originX) +
      "px;" +
      "top: " +
      detection.boundingBox.originY +
      "px; " +
      "width: " +
      (detection.boundingBox.width - 10) +
      "px;";

    const highlighter = document.createElement("div");
    highlighter.setAttribute("class", "highlighter");
    highlighter.style =
      "left: " +
      (video.offsetWidth -
        detection.boundingBox.width -
        detection.boundingBox.originX) +
      "px;" +
      "top: " +
      detection.boundingBox.originY +
      "px;" +
      "width: " +
      (detection.boundingBox.width - 10) +
      "px;" +
      "height: " +
      detection.boundingBox.height +
      "px;";

    liveView.appendChild(highlighter);
    liveView.appendChild(p);

    // Store drawn objects in memory so they are queued to delete at next call.
    children.push(highlighter);
    children.push(p);
  }
}
</script>

</body>